.profile {
    display: flex;
    flex-direction: column;
    background-color: #DCDCDC;
    width: 250px;
    height: 320px;
    padding: 60px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.description {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    box-sizing: border-box;
    border-top: 2px solid #2c2c2c15;
    border-left: 2px solid #2c2c2c15;
    border-right: 2px solid #2c2c2c15;
    border-radius: 2px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px -1px 1px 0px, rgba(60, 64, 67, 0.15) 0px -1px 1px 1px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.tag {
    margin-top: 8px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.location {
    margin-top: 10px;
    margin-top: 8px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.stats {
    margin: 0;
    padding-left: 0;
    display: flex;
    background-color: #f5f5f5c4;
    list-style-type: none;
    border-bottom: 2px solid #2c2c2c15;
    border-left: 2px solid #2c2c2c15;
    border-right: 2px solid #2c2c2c15;
    border-radius: 2px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 1px 0px, rgba(60, 64, 67, 0.15) 0px 1px 1px 1px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 10px;
    width: 70px;
}

.info:not(:last-child) {
    border-right: 1px solid #91909054;
}


.label {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.quantity {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}